.container {
  color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: solid 2px #f5f5f5;
  border-radius: 8px;
  padding: 24px;
  width: 800px;

  display: flex;
  flex-direction: column;
}

.movieinfo {
  display: flex;
}

.description {
  margin-left: 24px;
  padding: 8px;
}

.title {
  font-size: 32px;
  font-weight: 900;
  padding: 8px;
}
.rating,
.runtime {
  padding: 8px;
  font-size: 18px;
}

.movie__genres {
  list-style: none;
  padding: 8px;
}
.movie__genre {
  margin-left: 4px;
  font-size: 14px;
}
.summary {
  font-size: 14px;
  padding: 12px;
}
