.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-bottom: 12px;
  margin: 12px 8px;
  background-color: white;
  border-radius: 8px;

  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.4s ease;
}
.container:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a {
  text-decoration: none;
  color: black;
}

.img {
  width: 200px;
  border-radius: 8px;
}
.description {
  margin: 4px;
}

.title__container {
  height: 48px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
}

.ratingandruntime {
  font-size: 14px;
}

.rating,
.runtime {
  margin: 4px;
}
